{% extends 'base.html' %}

{% block head %}
<title>Admin Đăng nhập</title>
{% endblock %}
{% block script %}
  <script src="/static/js/admin_login.js"></script>
{% endblock %}
{% block body %}
    <section>
        <div class="text-center" style="margin-top: 50px">
          <h1>Trang Đăng Nhập Admin</h1>
        </div>
        <section style="width: 50%; margin: 0 auto">
            <div></div>
            <div class="form-group">
                <label for="username">Tài khoản:</label>
                <input type="text" class="form-control" placeholder="Nhập tài khoản" id="username">
            </div>
            <div class="form-group">
                <label for="pwd">Mật khẩu:</label>
                <input class="form-control" type="password" placeholder="Nhập mật khẩu" id="pwd">
            </div>
            <button class="btn btn-primary" onclick="login()">Đăng nhập</button>
        </section>
    </section>
{% endblock %}